@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Member list";
}

<div class="text-center">
    <h1 class="display-3">List of members</h1>
    <h2 class="display-5">There are @Model.Members.Count() members in the system</h2>
</div>

<div>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Members/CreateMember">Create</a>
    </button>
</div>

<div class="mt-3">
    <form>
        search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" 
                 asp-route-SortColumn="Id"
                 asp-route-SortOrder="@Model.Toggle("Id")" class="text-decoration-none text-dark">
                 Id @(Model.SortColumn == "Id" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
               </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="FirstName"
                   asp-route-SortOrder="@Model.Toggle("FirstName")" class="text-decoration-none text-dark">
                    First name @(Model.SortColumn == "FirstName" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="SurName"
                   asp-route-SortOrder="@Model.Toggle("SurName")" class="text-decoration-none text-dark">
                    Surname @(Model.SortColumn == "SurName" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="PhoneNumber"
                   asp-route-SortOrder="@Model.Toggle("PhoneNumber")" class="text-decoration-none text-dark">
                   Phone number @(Model.SortColumn == "PhoneNumber" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="Address"
                   asp-route-SortOrder="@Model.Toggle("Address")" class="text-decoration-none text-dark">
                   Address @(Model.SortColumn == "Address" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="City"
                   asp-route-SortOrder="@Model.Toggle("City")" class="text-decoration-none text-dark">
                   City @(Model.SortColumn == "City" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="Mail"
                   asp-route-SortOrder="@Model.Toggle("Mail")" class="text-decoration-none text-dark">
                   Mail @(Model.SortColumn == "Mail" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="MemberType"
                   asp-route-SortOrder="@Model.Toggle("MemberType")" class="text-decoration-none text-dark">
                   Member type @(Model.SortColumn == "MemberType" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-SortColumn="MemberRole"
                   asp-route-SortOrder="@Model.Toggle("MemberRole")" class="text-decoration-none text-dark">
                    Member role @(Model.SortColumn == "MemberRole" ? (Model.SortOrder == "asc" ? "▲" : "▼") : "")
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Member m in Model.Members)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.FirstName</td>
                <td>@m.SurName</td>
                <td>@m.PhoneNumber</td>
                <td>@m.Address</td>
                <td>@m.City</td>
                <td>@m.Mail</td>
                <td>@m.TheMemberType</td>
                <td>@m.TheMemberRole</td>
                <td><a asp-page="EditMember" asp-route-phonenumber="@m.PhoneNumber" class="btn btn-primary">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
